<footer>
  <div class="content">
    <section>
      <!-- Desarrollado con ♥ por <a href="">Alejandro Oliva</a> -->
      Desarrollado por <a href="https://linkedin.com/in/alejandro-oliva-ochoa">Alejandro Oliva</a>
    </section>
  </div>
</footer>